<h1>Stupid Coaching</h1>

<form action="answer" data-turbo="false">
  <input type="text" name="answer" placeholder="ask something">
  <input type="submit" value="Ask!">
  <a href="answer">Answer</a>
</form>


<!--Here we want a button from the ask button to link to -->
<a href="answer" target="_blank">Answer</a>
